body {
  font-family: "Geologica", "Zen Kaku Gothic New", sans-serif;
  background-color: #83998b;
  color: #484848;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

/* section-content */
.section-content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-top: 176px;
  right: 0;
  left: 0;
}

/* content-title */
.content-title {
  position: absolute;
  display: inline-block;
  top: -3.8%;
  font-size: 112px;
  font-weight: bold;
  letter-spacing: normal;
  color: #83998b;
  z-index: 2;
}

.right {
  left: 120px;
  right: auto;
}

.left {
  left: auto;
  right: 120px;
}

.offwhite-text {
  color: #f6f6ef;
}

.gray-text {
  color: #dfe2e0;
}

/* section-inner */
.section-inner {
  position: relative;
  z-index: 1;
  max-width: 1255px;
  margin: 0 auto;
}

.inner-profile,
.inner-service {
  margin-left: auto;
  margin-right: 0px;
  background-color: #f6f6ef;
}

.inner-works {
  margin-left: 0;
  margin-right: auto;
  background-color: #dfe2e0;
  background-image: url("../img/index/sp.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* button */
.more-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 214px;
  height: 35px;
  margin-bottom: 64px;
}

.more-button-text {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.circle {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -2em;
  right: auto;
  border-radius: 50%;
  background-color: #89ff2f;
}

.more-button-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 63px;
  height: 7px;
  top: calc(40%);
  right: 175px;
  border-right: 4px solid #484848;
  border-bottom: 3px solid #484848;
  border-radius: 2px;
  transform: skew(55deg);
  z-index: 1;
}

.more-button-text:hover {
  content: "";
  position: relative;
  color: #fd8224;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.more-button-text:hover::before {
  content: "";
  position: absolute;
  width: 155px;
  right: 0px;
  border-right: 4px solid #83998b;
  border-bottom: 3px solid #83998b;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.button-right {
  margin-left: 1026px;
  right: auto;
}

.button-left {
  margin-left: 995px;
  right: auto;
}

/* header-nav */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  display: none;
  z-index: 1001;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  position: absolute;
  transition: 0.3s;
}
.menu-btn span {
  top: 50%;
  transform: translateY(-50%);
}
.menu-btn span::before {
  top: -8px;
}
.menu-btn span::after {
  top: 8px;
}

.menu-toggle {
  display: none;
}

.header-nav ul {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 626px;
  height: 65px;
  padding: 18px 50px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: #fd8224;
  border-radius: 70px;
  color: #f6f6ef;
  font-size: 18px;
  font-weight: 300;
  z-index: 999;
}

.header-nav a:hover {
  content: "";
  padding: 10px 18px;
  background-color: #484848;
  border-radius: 20px;
  color: #89ff2f;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* fv */
.fv {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 105dvh;
  background-image: url("../img/index/code-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  letter-spacing: normal;
}

.fv-back {
  position: absolute;
  max-width: 774px;
  margin-top: 364px;
  margin-left: 50px;
  margin-right: auto;
  z-index: 4;
  white-space: nowrap;
}

.fv-text {
  margin-bottom: 16px;
  margin-left: 20px;
  color: #fd8224;
  font-size: 68px;
  font-weight: bold;
}

.fv-text-ja,
.fv-text-en {
  margin-left: 20px;
  color: #f6f6ef;
  font-size: 20px;
  font-weight: 500;
}

.fv-text-en {
  margin-top: 6px;
}

.br-sp {
  display: none;
}

/* cat */
.cat-pic {
  position: relative;
  display: inline-flex;
  justify-content: right;
  max-width: 100%;
}

.cat-pic img {
  max-width: 840px;
  height: 840px;
  animation-duration: 6s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.orange-cat {
  position: absolute;
  z-index: 3;
  margin-top: 140px;
  right: 0;
  animation: fade-orange 1s forwards;
  animation-delay: 0s;
}

.green-cat {
  position: absolute;
  z-index: 2;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 50px;
  animation: fade-green 1s forwards;
  animation-delay: 1.5s;
}

.pink-cat {
  position: absolute;
  z-index: 1;
  margin-top: auto;
  margin-left: auto;
  margin-right: 160px;
  animation: fade-pink 1s forwards;
  animation-delay: 3s;
}

/* cat-animation */
@keyframes fade-orange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-green {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-pink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* scroll */
.scroll {
  position: absolute;
  top: 85%;
  left: -40px;
  transform: rotate(-90deg);
}

.scroll-text {
  position: relative;
  padding: 5px 10px 5px 160px;
  background-color: #89ff2f;
  color: #616161;
  font-size: 18px;
  font-weight: 500;
}

.scroll-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 5px;
  top: calc(50%);
  right: 80px;
  border-left: 1px solid #616161;
  border-top: 1px solid #616161;
  transform: skew(45deg);
}

/* profile */
.profile-textarea {
  display: flex;
  flex-direction: column;
  padding: 150px 185px 140px 115px;
  margin-top: 32px;
  background-color: #f6f6ef;
  color: #616161;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.textarea-title::after {
  content: "";
  display: flex;
  width: 100px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 1em;
  border: #616161 solid 1px;
}

.textarea-comment {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 72px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  line-height: 170%;
}

.green-mark {
  background-color: #89ff2f;
}

/* works */
.inner-worklistwrap {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  column-gap: 80px;
  margin: 160px 300px 72px 40px;
}

.worklist-pic img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin-bottom: 16px;
}

.worklist-text {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
}

.type::after {
  content: "";
  width: 1px;
  height: 17px;
  margin-left: 6px;
  margin-right: 3px;
  border: #616161 solid 1px;
  transform: rotate(20deg);
}

/* service */
.content-servicelistwrap {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  column-gap: 70px;
  justify-content: center;
  width: 100%;
  padding: 150px 185px 0px 115px;
}

.content-servicelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
  margin-top: 40px;
  margin-bottom: 88px;
  border: #616161 solid 2px;
  text-align: center;
}

.servicelist-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
}

.design-pic img,
.pen-pic img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  object-fit: fill;
  margin: 10px auto 16px auto;
}

.code-pic img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 60%;
  object-fit: fill;
  margin: 10px auto 16px auto;
}

.servicelist-title {
  font-weight: bold;
}

.servicelist-title::after {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  margin: 16px auto;
  background-color: #616161;
  border-radius: 20px;
}

.servicelist-text {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.cotanct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1290px;
  margin: 224px auto 80px auto;
  border: #f6f6ef solid 6px;
  border-radius: 45px;
  color: #f6f6ef;
}

.footer-title {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.list-wrap {
  position: relative;
  display: inline-flex;
  width: 990px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #f6f6ef;
}

.list-title {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: 400;
}

.list-title::before {
  content: "●";
  width: 22px;
  height: 22px;
  margin-right: 12px;
  color: #fd8224;
}

.contact-left {
  display: grid;
  grid-template-rows: repeat(3, 120px);
  row-gap: 54px;
}

.list {
  width: 540px;
}

.list-text {
  font-size: 20px;
  line-height: 31px;
  margin-left: 1.7em;
}

.small-text {
  font-size: 17px;
}

.contact-right {
  display: flex;
  max-width: 420px;
}

.link-wrap {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  column-gap: 54px;
  margin-left: 2em;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.tool-text {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
  letter-spacing: normal;
}

.speech {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  bottom: 0px;
  right: -50px;
  gap: 12px;
}

.speech-pic {
  width: 154px;
  height: 195px;
}

.speech-text {
  margin-top: 15px;
  font-size: 13px;
  color: #484848;
}

.embellishments {
  position: absolute;
  bottom: 52px;
  right: 0px;
  transform: rotate(-10deg);
}

.embellishments-text {
  margin-right: -175px;
  padding: 8px 20px;
  background-image: url("../img/index/sprash3.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #484848;
  color: #83998b;
  font-family: "Rock Salt", cursive;
  font-size: 25px;
  white-space: nowrap;
}

@media (max-width: 800px) {
  /* body */
  body {
    font-size: 13px;
  }

  /* button */
  .more-button {
    max-width: 200px;
    height: 20px;
    margin-bottom: 24px;
  }

  .more-button-text {
    background-color: #89ff2f;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: normal;
  }

  .more-button-text:hover {
    background-color: #f6f6ef;
  }

  .circle {
    display: none;
  }

  .more-button-text::before {
    display: none;
  }

  .more-button-text:hover::before {
    display: none;
  }

  .button-right {
    margin-left: 245px;
  }

  .button-left {
    margin-left: 213px;
  }

  /* fv */

  .fv {
    height: calc(100dvh-50px);
  }

  .fv-back {
    max-width: 290px;
    margin-top: 470px;
    margin-left: 20px;
  }

  .fv-text {
    font-size: 47px;
    line-break: strict;
  }

  .fv-text-ja,
  .fv-text-en {
    margin-top: 12px;
    font-size: 9px;
    white-space: nowrap;
  }

  .fv-text-en {
    margin-top: 6px;
  }

  .br-sp {
    display: inline;
  }

  /* .cat-pic img */
  .cat-pic img {
    max-width: 360px;
    height: 360px;
  }

  .green-cat {
    margin-right: 40px;
  }

  .pink-cat {
    margin-right: 140px;
  }

  /* scroll */
  .scroll {
    top: 70%;
    left: -20px;
  }

  .scroll-text {
    padding: 3px 10px 3px 75px;
    background-color: #89ff2f;
    font-weight: 500;
    font-size: 11px;
  }

  .scroll-text::before {
    width: 50px;
  }

  /* menu */
  .menu-btn {
    display: block;
  }

  .header-nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    padding: 80px 20px;
    margin: 0;
    top: 0;
    right: -220px;
    border-radius: 0;
    transition: 0.3s;
  }

  .header-nav li {
    margin: 15px 0;
  }

  #menu-toggle:checked ~ .header-nav ul {
    right: 0;
  }

  #menu-toggle:checked + .menu-btn span {
    background: transparent;
  }
  #menu-toggle:checked + .menu-btn span::before {
    transform: rotate(45deg);
    top: 0;
  }
  #menu-toggle:checked + .menu-btn span::after {
    transform: rotate(-45deg);
    top: 0;
  }

  /* section-content */
  .right {
    top: -0.5em;
    left: 0;
    font-size: 45px;
  }
  .left {
    top: -0.5em;
    right: 0;
    font-size: 45px;
  }

  .section-inner {
    max-width: 345px;
  }

  /* profile */
  .profile-textarea {
    padding: 65px 45px 35px 25px;
    margin-top: 50px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    line-height: 181%;
  }

  .textarea-comment {
    margin-top: 14px;
    line-height: 181%;
  }

  .textarea-title::after {
    width: 45px;
  }

  /* works */
  .inner-worklistwrap {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 24px;
    margin: 78px 25px 90px 100px;
  }

  .worklist-pic img {
    width: 220px;
    height: 220px;
    margin-bottom: 8px;
  }

  .type::after {
    height: 13px;
  }

  /* service */
  .content-servicelistwrap {
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    padding: 87px 100px 90px 25px;
  }

  .content-servicelist {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    margin-top: 32px;
    margin-bottom: 48px;
  }

  .servicelist-pic {
    width: 85px;
    height: 85px;
  }

  .servicelist-title::after {
    width: 28px;
  }

  /* .servicelist-text {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  } */

  .cotanct {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 80px auto 40px auto;
  }

  .footer-title {
    margin-top: 40px;
    font-size: 40px;
  }

  .list-wrap {
    width: 250px;
  }

  .list-title {
    font-size: 15px;
    font-weight: 400;
  }

  .list-title::before {
    content: "●";
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }

  .contact-left {
    display: grid;
    grid-template-rows: repeat(3, 64px);
    row-gap: 40px;
  }

  .list {
    width: 250px;
  }

  .list-text {
    font-size: 12px;
    line-height: 162%;
  }

  .small-text {
    font-size: 12px;
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top: 422px;
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
  }

  .link-wrap {
    display: grid;
    grid-template-columns: repeat(4, 25px);
    column-gap: 35px;
    margin-left: 2em;
    font-size: 12px;
  }

  .speech-pic {
    width: 78px;
    height: 100px;
    margin-left: 20px;
  }

  .speech-text {
    font-size: 7px;
  }
  .embellishments-text {
    bottom: 0;
    margin-right: 0px;
    padding: 8px 10px;
    font-size: 10px;
  }
}
