body {
  font-family: "Geologica", "Zen Kaku Gothic New", sans-serif;
  background-color: #83998b;
  color: #484848;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

/* section-content */
.section-content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-top: 275px;
  right: 0;
  left: 0;
}

/* content-title */
.content-title {
  position: absolute;
  z-index: 2;
  display: inline-block;
  top: -3.5%;
  font-size: 112px;
  font-weight: bold;
  letter-spacing: normal;
  color: #83998b;
}

.right {
  left: 120px;
  right: auto;
}

.left {
  left: auto;
  right: 120px;
}

.offwhite-text {
  color: #f6f6ef;
}

.gray-text {
  color: #c9cfcb;
}

/* section-inner */
.section-inner {
  position: relative;
  z-index: 1;
  max-width: 1255px;
  margin: 0 auto;
}

.inner-profile,
.inner-skill {
  margin-right: 0;
  margin-left: auto;
  background-color: #f6f6ef;
}

.inner-mind {
  margin-top: -15px;
  margin-left: 0;
  margin-right: auto;
  background-color: #f6f6ef;
}

.inner-skill {
  background-color: #dfe2e0;
  background-image: url("img/index/sp.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textarea-title {
  font-size: 23px;
}

.textarea-title::after {
  content: "";
  display: flex;
  width: 100px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 1em;
  border: #616161 solid 1px;
}

/* header-nav */
.header-nav ul {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 626px;
  height: 65px;
  padding: 18px 50px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: #fd8224;
  border-radius: 70px;
  color: #f6f6ef;
  font-size: 18px;
  font-weight: 300;
  z-index: 999;
}

.header-nav a:hover {
  content: "";
  padding: 10px 18px;
  background-color: #484848;
  border-radius: 20px;
  color: #89ff2f;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* scroll */
.scroll {
  position: absolute;
  bottom: 9%;
  left: -40px;
  transform: rotate(-90deg);
}

.scroll-text {
  position: relative;
  padding: 5px 10px 5px 120px;
  background-color: #89ff2f;
  color: #616161;
  font-size: 18px;
  font-weight: 500;
}

.scroll-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 5px;
  top: calc(50%);
  right: 80px;
  border-left: 1px solid #616161;
  border-top: 1px solid #616161;
  transform: skew(45deg);
}

/* profile */
.profile-textarea {
  display: flex;
  flex-direction: column;
  padding: 184px 150px 144px 115px;
  margin-top: 35px;
  text-align: left;
}

.textarea-comment {
  width: 90%;
  margin-bottom: 72px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  line-height: 205%;
  letter-spacing: 4%;
  text-indent: 1em;
}

.glass {
  width: 210px;
  height: 192px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 2;
}

.glass img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

/* mind */
.inner-mind {
  display: flex;
  flex-direction: column;
  padding: 184px 115px 124px 120px;
  font-weight: bold;
  text-align: left;
}

.type::after {
  content: "";
  width: 1px;
  height: 17px;
  margin-left: 6px;
  margin-right: 3px;
  border: #616161 solid 1px;
  transform: rotate(20deg);
}

.green-mark {
  background-color: #89ff2f;
}

.strength-inner-wrap {
  margin-bottom: 64px;
  text-indent: 1em;
}

.strength {
  margin-top: 37px;
}

.strength-inner-title {
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 30px;
  text-align: left;
}

.number {
  position: relative;
  margin-right: 16px;
  font-size: 32px;
}

.number::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -12px;
  left: 38px;
  border-radius: 50%;
  background-color: #484848;
}

.wordpro {
  position: absolute;
  z-index: 2;
  width: 211px;
  height: 225px;
  top: -90px;
  margin-left: 400px;
}

.inner-skill {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 180px 160px 0px 186px;
}

.wrap-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cording-tool {
  margin-top: 80px;
  margin-bottom: 124px;
}

.tool-name {
  padding: 12px 24px;
  margin-right: 42px;
  border-radius: 50px;
}

.design {
  color: #f6f6ef;
  background-color: #fd8224;
}

.cording {
  color: #fd8224;
  background-color: #484848;
}

.tool-memo {
  margin-top: 24px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 5%;
}

/* contact */
.cotanct {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 224px auto 80px auto;
  border: #f6f6ef solid 6px;
  border-radius: 45px;
  color: #f6f6ef;
}

.footer-title {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.icon-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 422px;
  margin: 72px auto;
  text-align: center;
  color: #f6f6ef;
}

.tool-linkwrap {
  display: flex;
  max-width: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: bold;
}

.tool-text {
  margin-top: 16px;
}

.embellishments-text {
  position: absolute;
  z-index: 3;
  padding: 8px 18px;
  bottom: -45px;
  margin-right: 0px;
  margin-left: -50px;
  background-image: url("../img/index/sprash3.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #484848;
  color: #83998b;
  font-family: "Rock Salt", cursive;
  font-size: 23px;
  white-space: nowrap;
  transform: rotate(-13deg);
}
